@import "./styles/_variables.css";
@import "./styles/_keyframe-animations.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.tiptap {
  font-size: 0.875rem;
  line-height: 1.5;
}

.tiptap:focus {
  outline: none;
}
